-e git+git://github.com/jab/melkman.git#egg=melkman
-e git+git://github.com/jab/melk.util.git#egg=melk.util
-e git+git://github.com/jab/giblets.git#egg=giblets
-e git+git://github.com/jab/feedparser.git#egg=feedparser
-e git+git://github.com/jab/greenamqp.git#egg=greenamqp
-e hg+https://httplib2.googlecode.com/hg#egg=httplib2

nose
